body, html {
  padding: 0; margin: 0;
}

.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.background{
  background-image: url('../assets/img/reese.jpg');
  height: 50vh;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  z-index: -1;
  filter: opacity(0.1);
  background-size: contain
}